*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20PX;
}





body{
    background-color: #6b97e9;
    background: linear-gradient(to right, #8e8ee2, #8d6fdd);
    

}

.container{
   background-color: white;
   padding: 10px;
    border-radius: 10px;
}

figure{
    margin: auto;
    display: block;
    max-width: 100%;
    text-align: center;
}

.links{
    justify-content: space-between;
    display: flex;
    background-color: white;
    padding: 10px;
     border-radius: 10px;
}
